extends layout

block content
  include header.jade
  #main-container.homepage.container
    .row
      //- .col-md-3.welcome
      //-   .rounded-shadow
      //-     img.img-responsive(src="/images/OA-IMG.png", alt="IOOS Ocean Acidification")
      .col-md-9
        .caption.caption-header
          h3 Access to Ocean Acidification Data
          p IOOS, in collaboration with NOAA’s Ocean Acidification Program (#[a(href="https://oceanacidification.noaa.gov/", target="_blank") OAP]), is making real-time ocean acidification data more accessible. A data portal – the #[a(href="http://www.ipacoa.org/", target="_blank") IOOS Partners Across Coasts Ocean Acidification Data Portal (IPACOA)] – is now being expanded from its west coast origin to the entire nation, thanks to support from both the IOOS Program Office and the OAP.  Access to such information improves our ability to understand, predict and manage the impacts of changes in ocean chemistry from a wide variety of environments. 
          p The IPACOA portal, hosted by #[a(href="http://www.nanoos.org/", target="_blank") NANOOS], was developed to provide shellfish growers access to sensor data from hatcheries. It has expanded to integrate real-time data on ocean conditions and chemistry from a variety of sources including:
          ul 
            li offshore OAP moorings with sensors supported by NOAA’s #[a(href="https://www.pmel.noaa.gov/co2/story/Ocean+Acidification", target="_blank") Pacific Marine Environmental Lab],
            li other shellfish grower sensors, and
            li observations collected by universities and others. 
          p These additional data sources can serve as an early warning to growers when offshore conditions change, and also stimulate study of how conditions change from coastal to nearshore. The portal provides “one-stop shopping” to local, regional and, eventually, global information.  
          p A similar portal has been developed for the #[a(href="http://www.goa-on.org/", target="_blank") Global Ocean Acidification Observing Network (GOA-ON)] in development with international partners.
          img.img-responsive(src="/images/ocean-acidification.png", alt="IOOS OCean Acidification")